.contact__wrapper {
  margin-top: 220px;
  margin-bottom: 60px;
  .contact__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    .line {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 15px;
      a {
        font-family: Manrope;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.86px;
        text-align: left;
        color: #c5c4c4;
      }
      p {
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: 21.86px;
        text-align: left;
        color: #454545;
      }
    }
    h1 {
      font-family: Manrope;
      font-size: 64px;
      font-weight: 700;
      line-height: 70.4px;
      text-align: left;
      color: #454545;
    }
    .adress {
      display: flex;
      flex-direction: column;
      p {
        font-family: Manrope;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.86px;
        text-align: left;
        color: #929090;
      }
      h3 {
        font-family: Manrope;
        font-size: 24px;
        font-weight: 600;
        line-height: 32.78px;
        text-align: left;
        color: #454545;
        margin-bottom: 10px;
      }
    }
  }
}
